# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Where to put items installed via brew cask
export HOMEBREW_CASK_OPTS="--appdir=~/Applications --fontdir=/Library/Fonts"

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"

# use pyenv for python version management
# https://github.com/pyenv/pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

command -v pyenv >/dev/null 2>&1 || { echo >&2 "pyenv not installed. Attempting to install via homebrew"; brew install pyenv; }
eval "$(pyenv init -)"

# Awesome typo/command correction
eval "$(thefuck --alias jk)"


# JAVA_HOME set in ~/.extra
#
# Either via jenv:
## export PATH="$HOME/.jenv/bin:$PATH"
## eval "$(jenv init -)"
#
# OORRR...
#
# you can find your JAVA_HOME in the settings:
# java -XshowSettings:properties -version
# --> the path will be in java.home

# from .extra... Necessary??
# # Add /usr/local/sbin for certain homebrew formulae
# PATH="/usr/local/sbin:$PATH"
#
# export PATH="/usr/local/bin:$PATH"
#
# # For haskell toolchain (where stack installs packages)
# export PATH="$PATH:/Users/clebron/.local/bin"
#
# # For Go
# export PATH="$PATH:/usr/local/go/bin"
